nv_ops/nv_norms/python/__pycache__/*
nv_ops/nv_norms/python/ops/__pycache__/*
nv_ops/nv_norms/python/ops/__pycache__/*
nv_ops/nv_norms/__pycache__/*
nv_ops/nv_norms/python/ops/*.cu.o
nv_ops/nv_norms/python/ops/*.so
nv_ops/artifacts/*.whl
.vscode/*
